@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

/* typograph */
body {
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	line-height: 32px;
	color: #7c858b;
}

/* common */
img {
	vertical-align: top;
}
a {
	text-decoration: none;
	cursor: pointer;
}
button {
	background: none;
	border: none;
	cursor: pointer;
}
input {
	background: none;
	border: none;
}
textarea {
	resize: none;
}
.sprite {
	background: url('../images/sprite.png') no-repeat;
	text-indent: -9999em;
	display: inline-block;
}

.btn {
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: 900;
}
.big {
	padding: 0 37px;
	line-height: 60px;
	border-radius: 30px;
	font-size: 13px;
}
.toggle-btn {
	width: 48px;
	height: 48px;
	border: 1px solid rgba(255, 255, 255, 0.15);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}
.orange {
	background: #ffba00;
	color: #111c26;
}
.section_tt {
	font-size: 95px;
	font-weight: 900;
	line-height: 90px;
	margin-bottom: 12px;
	text-transform: uppercase;
}
.contents p {
	margin-bottom: 40px;
}
.bright-bg .section_tt {
	color: #0b131a;
}
.dark-bg .section_tt {
	color: #fff;
}
.bright-bg .contents p {
	color: #7c858b;
}
.dark-bg .contents p {
	color: #b1bfcc;
}

/* layout */
.container {
	width: 1170px;
	margin: 0 auto;
}

.fixed-nav {
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: 550px;
	z-index: 5;
	display: flex;
	flex-direction: column;
	transform: translateY(-50%);
}
.fixed-nav a {
	text-indent: -9999em;
	width: 12px;
	height: 12px;
	border: 2px solid #879099;
	box-sizing: border-box;
	background: none;
	border-radius: 50%;
	margin-bottom: 17px;
}
.fixed-nav a:last-child {
	margin-bottom: 0;
}
.fixed-nav a.active {
	border: none;
	background: #ffba00;
}

/* navbar */
.header nav {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	padding: 0 47px;
	height: 120px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 9;
	transition: 300ms;
}

.header nav .logo span {
	font-size: 13px;
	color: #fff;
	margin-left: 24px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.header nav ul {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	max-width: 1170px;
	width: 70%;
	display: flex;
	justify-content: flex-end;
}

.header nav ul li {
	margin-left: 46px;
}
.header nav ul li a {
	color: #fff;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	cursor: pointer;
	border-bottom: 0.125em solid transparent;
	transition: all 0.35s;
	position: relative;
}
.header nav ul li a::before,
.toggle_menu ul li a:before,
#loadmore::before {
	content: '';
	position: absolute;
	left: 0;
	right: 100%;
	top: 100%;
	border-bottom: 0.125em solid #ffba00;
	transition: 400ms;
}
.header nav ul li a:hover::before,
.toggle_menu ul li a:hover::before,
#loadmore:hover::before {
	left: 0;
	right: 0;
}

.header nav.active {
	background: #ffffff;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}

.header nav.active .logo span,
.header nav.active ul li a {
	color: #0b131a;
}
.header nav.active li a:hover,
.header nav.active .logo a:hover span {
	color: #ffba00;
}
.header nav.active .toggle-btn {
	border-color: #ececed;
}

.toggle_menu {
	position: fixed;
	top: 0;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(11, 19, 26, 0.85);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 15;
	visibility: hidden;
	opacity: 0;
	transition: 300ms;
}
.toggle_menu.active {
	visibility: visible;
	opacity: 1;
}

.toggle_menu .close {
	position: absolute;
	top: 34px;
	right: 45px;
	width: 48px;
	height: 48px;
	border: 1px solid rgba(255, 255, 255, 0.15);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	cursor: pointer;
}
.toggle_menu ul li {
	margin-bottom: 50px;
}
.toggle_menu ul li a {
	font-size: 27px;
	letter-spacing: 0.1em;
	font-weight: 900;
	color: #fff;
	text-transform: uppercase;
	border-bottom: 0.125em solid transparent;
	transition: all 0.35s;
	position: relative;
}
.toggle_menu ul li a:hover {
	color: #ffba00;
}

.toggle_menu ul li:last-child {
	margin-bottom: 0;
}

/* main slider */
.swiper {
	width: 100%;
	height: 100%;
}

.main-slides .swiper-slide {
	background: no-repeat center center/cover;
	padding-top: 300px;
	z-index: 1;
}
.main-slides .swiper-slide::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: -1;
}
.swiper-slide.slide1 {
	background-image: url('../images/slide1.jpg');
}
.swiper-slide.slide2 {
	background-image: url('../images/slide2.jpg');
}
.swiper-slide.slide3 {
	background-image: url('../images/slide3.jpg');
}

.swiper-button-prev,
.swiper-button-next {
	right: auto;
	left: 50%;
	transform: translateX(-50%);
	width: 89px;
	height: 36px;
	border-radius: 18px;
	background: #020405;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}
.swiper-button-prev {
	margin-left: -629px;
}
.swiper-button-next {
	margin-left: 629px;
}
.swiper-button-prev::after,
.swiper-button-next::after {
	content: '';
}

.big-arrow-left {
	width: 30px;
	height: 13px;
	background-position: 0 0;
}
.big-arrow-right {
	width: 30px;
	height: 13px;
	background-position: -39px 0;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
	background: #ffba00;
}
.swiper-button-prev:hover .big-arrow-left,
.swiper-button-next:hover .big-arrow-right {
	background-position-y: -22px;
}
.slogan {
	margin-left: 100px;
}

.slogan h2 {
	font-size: 95px;
	line-height: 90px;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	color: #fff;
	font-weight: 900;
}
.slogan p {
	color: #b1bfcc;
	margin: 15px 0 38px;
}
.sm-arrow-right {
	width: 18px;
	height: 10px;
	background-position: -76px -1px;
	margin-left: 18px;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	border: 2px solid #fff;
	box-sizing: border-box;
	background: none;
	opacity: 1;
	margin: 0 8px;
}
.swiper-horizontal
	> .swiper-pagination-bullets
	.swiper-pagination-bullet.swiper-pagination-bullet-active {
	border: none;
	background: #fff;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
	bottom: 54px;
}

/* story */
.story .fp-tableCell {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.story .contents {
	width: 868px;
}
.story .contents h2 {
	font-size: 65px;
	font-weight: 900;
	text-transform: uppercase;
	color: #111c26;
}
.story .contents p {
	margin: 27px 0 40px;
}
.title_bar {
	position: relative;
	padding-top: 40px;
}
.title_bar::before {
	content: '';
	position: absolute;
	width: 91px;
	height: 2px;
	background: #ffba00;
	bottom: 100%;
}
.title_bar.center::before {
	left: 50%;
	transform: translateX(-50%);
}
.title_bar.left::before {
	left: 0;
}
.story .scroll_down {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 40px;
	width: 36px;
	height: 89px;
	border-radius: 18px;
	background: #fff;
	border: 1px solid #020405;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
}
.big_arrow_down {
	position: absolute;
	width: 12px;
	height: 27px;
	background-position: -2px -43px;
	animation: clipani 1.2s infinite ease-in-out;
}
@keyframes clipani {
	from {
		clip: rect(0, 12px, 0, 0);
	}
	to {
		clip: rect(0, 12px, 27px, 0);
	}
}

/* forest */
.forest {
	position: relative;
	background: url('../images/forest.jpg') no-repeat center center/cover;
	z-index: 1;
}
.forest::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: -1;
}

.forest .contents {
	width: 571px;
	text-align: left;
}

/* river */

.river .contents {
	width: 571px;
	text-align: left;
}

/* winter road */
.road {
	position: relative;
	background: url('../images/road.jpg') no-repeat center center/cover;
	z-index: 1;
}
.road::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: -1;
}
.road .contents {
	width: 571px;
	text-align: left;
}
.road .contens h2 {
	color: #bdcbd9;
}

/* footer */
.footer {
	background: #fbf9fb;
}
.container {
	padding: 86px 0 60px;
}

.footer_menu {
	display: flex;
	justify-content: center;
	margin-bottom: 78px;
}

.footer_menu li {
	margin-right: 55px;
}
.footer_menu li a {
	color: #0b131a;
	letter-spacing: 0.1em;
	font-weight: 900;
	text-transform: uppercase;
	line-height: 18px;
}
.footer_menu li a:hover,
.social_menu li a:hover {
	color: #ffba00;
}
.social_menu {
	display: flex;
	justify-content: center;
	margin-bottom: 28px;
}
.social_menu li {
	margin: 0 6px;
}
.social_menu li a {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	border: 1px solid #ececed;
	background: #fff;
	display: inline-block;
	line-height: 48px;
	text-align: center;
	color: #0b131a;
	font-size: 16px;
}
.copyright {
	text-align: center;
	margin-bottom: 69px;
	font-size: 16px;
}
.back_to_top {
	position: fixed;
	width: 36px;
	height: 89px;
	left: 50%;
	margin-left: 530px;
	bottom: 387px;
	border-radius: 18px;
	background: #ffba00;
	border: 1px solid #020405;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	transition: 300ms;
}
.big_arrow_up {
	position: absolute;
	width: 12px;
	height: 27px;
	background-position: -21px -43px;
	animation: clipup 1.2s infinite ease-in-out;
}
@keyframes clipup {
	from {
		clip: rect(0, 12px, 0, 0);
	}
	to {
		clip: rect(0, 12px, 27px, 0);
	}
}

.back_to_top.active {
	visibility: visible;
	opacity: 1;
}

/*------------------------ about page---------- */
.subpage-banner {
	background: no-repeat center center/cover;
	height: 480px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 1;
}
.subpage-banner::after {
	content: '';
	left: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
	z-index: -1;
}
.subpage-banner.about {
	background-image: url('../images/about-top.png');
}
.subpage-banner .contents {
	text-align: center;
}
.subpage-banner h2 {
	font-size: 95px;
	font-weight: 900;
	letter-spacing: 0.01em;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 28px;
	line-height: 95px;
}
.subpage-banner p {
	font-size: 18px;
	color: #b1bfcc;
	margin-bottom: 0;
}
.subpage .toggle-btn {
	background: #ffba00;
}

/* about  main */
.our-story {
	display: flex;
	flex-wrap: wrap;
}
.our-story > div {
	width: 50%;
	height: 700px;
}
.story-img,
.do-img {
	background: no-repeat center center/cover;
	text-indent: -9999em;
}
.story-img {
	background-image: url('../images/about-story.png');
}
.story-contents,
.do-contents {
	padding: 0 86px;
	display: flex;
	align-items: center;
	box-sizing: border-box;
}

.do-img {
	background-image: url('../images/about-do.png');
	opacity: 0;
	transition: 3000ms;
}
.do-contents {
	opacity: 0;
	transition: 3000ms;
}

.our-story .contents h2,
.do-contents .contents h2 {
	font-size: 65px;
	color: #0b131a;
}
.our-story .contents p,
.do-contents .contents p {
	margin-bottom: 0;
	color: #7c858b;
}

.do-img.animate__fadeInRight,
.do-contents.animate__fadeInLeft {
	opacity: 1;
}

/* people says */

.people-says {
	background: #f9f9f9;
}
.testimonial-slides .container {
	padding: 225px 130px;
	width: 770px;
	margin: 0 auto;
	text-align: center;
}
.testimonial-slides .contents h2 {
	font-size: 65px;
	color: #0b131a;
	text-transform: uppercase;
	font-weight: 900;
	line-height: 65px;
	margin-bottom: 30px;
}
.reviewer h4 {
	font-size: 16px;
	text-transform: uppercase;
	color: #111c26;
	margin: 20px 0 10px;
}
.reviewer p {
	font-size: 16px;
	color: #ffba00;
}

/* help */

.help .contents {
	padding: 131px 130px;
	margin: 0 auto;
	text-align: center;
}
.help .contents h2 {
	font-size: 65px;
	font-weight: 900;
	color: #111c26;
	letter-spacing: 0.1em;
	line-height: 90px;
	text-transform: uppercase;
	margin-bottom: 30px;
}

/* -------------------portfolio */
.subpage-banner.portfolio {
	background: url('../images/portfolio-banner.png');
}
.nav {
	position: relative;
}
.filters {
	padding: 45px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.highlight {
	content: '';
	position: absolute;
	width: 42px;
	height: 17.5px;
	top: 45px;
	bottom: 0;
	left: 507px;
	background: #ffba00;
	z-index: -1;
	border-radius: 18px;
	text-indent: -9999em;
	transition: 0.4s;
}

.filters button {
	margin: 0 22px;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	color: #0b131a;
}

.filters button.active {
	color: #fff;
}

.portfolio_list {
	display: flex;
	flex-wrap: wrap;
}
.portfolio_list li {
	width: 33.3%;
	height: 700px;
	background: no-repeat center center/cover;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	display: flex;
	text-align: center;
	position: relative;
	z-index: 1;
}
.portfolio_list li h2 {
	font-size: 36px;
	font-weight: 900;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.portfolio_list li h2::before {
	bottom: calc(100% + 30px);
}
.portfolio_list li p {
	font-size: 18px;
	margin-bottom: 30px;
	color: #bdcbd9;
	text-transform: uppercase;
}
.portfolio_list li > * {
	visibility: hidden;
}
.portfolio_list li:hover > * {
	visibility: visible;
}
.portfolio_list li:after {
	content: '';
	position: absolute;
	background: #0b131a;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	transition: 2500ms;
	z-index: -1;
}
.portfolio_list li:hover:after {
	opacity: 1;
}
.loadmore {
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #0b131a;
}
#loadmore {
	font-size: 13px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 0.1em;
	position: relative;
}
#loadmore:hover {
	color: #ffba00;
}

/* ----------------------------portfolio single */

.single-info {
	padding: 125px 0 116px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.single-info .desc {
	width: 500px;
}

.substate {
	background: #fbf9fb;
	width: 570px;
	padding: 63px 0 74px 70px;
}
.substate dl {
	display: flex;
	flex-wrap: wrap;
}

.substate dl dt {
	width: 23%;
	margin-bottom: 21px;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 700;
	color: #0b131a;
}
.substate dl dd {
	width: 64%;
	color: #7c858b;
	font-size: 16px;
}

.single-info h2 {
	font-size: 65px;
	color: #0b131a;
	font-weight: 900;
	text-transform: uppercase;
	margin-bottom: 33px;
}
.page_nav {
	width: 177px;
	height: 36px;
	border-radius: 18px;
	border: 1px solid #ececed;
	box-sizing: border-box;
	display: flex;
	margin-top: 39px;
}

.page_nav a {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
}
.page_nav a.prev {
	border-right: 1px solid #ececed;
}
.page_nav a span {
	background-position-y: -22px;
	opacity: 0.15;
	transition: 300ms;
}
.page_nav a:hover span {
	opacity: 1;
}

.single-photos ul {
	display: flex;
	flex-wrap: wrap;
}
.single-photos ul li {
	width: 33.33%;
	height: 700px;
	background: no-repeat center center/cover;
	text-indent: -9999em;
}
.single-photos ul li.double {
	width: 66.66%;
}

/* -------------------contact */
.contact-contents {
	display: flex;
}
.contact-contents > div {
	flex: 1;
}
.field {
	position: relative;
}

.contact-contents .form {
	padding-top: 127px;
	padding-right: 86px;
}
.contact-contents .form form {
	width: 500px;
	margin-left: auto;
}
.contact-contents .form form h2 {
	font-size: 27px;
	font-weight: 900;
	padding-top: 30px;
	color: #0b131a;
	text-transform: uppercase;
	margin-bottom: 34px;
}
.contact-contents .form form .field {
	margin-bottom: 18px;
	position: relative;
}
.contact-contents .form form .field label {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	color: #0b131a;
	opacity: 0;
	visibility: hidden;
	line-height: 16px;
	font-size: 16px;
	transition: 400ms;
}
.contact-contents form .field.textmsg label {
	position: absolute;
	left: 0;
	top: 8%;
	transform: translateY(-50%);
	color: #0b131a;
	opacity: 0;
	visibility: hidden;
	line-height: 16px;
	font-size: 16px;
	transition: 400ms;
}
.contact-contents .form form .field label.active {
	top: 0px;
	opacity: 1;
	visibility: visible;
}
.contact-contents .form form .field input {
	height: 50px;
	line-height: 50px;
	border: none;
	width: 100%;
	display: block;
	outline: none;
	border-bottom: 1px solid #ececed;
	font-size: 16px;
	color: #0b131a;
}
.contact-contents .form form .field input:focus,
.contact-contents .form form .field textarea:focus {
	border-bottom-color: #ffba00;
}
.contact-contents .form form .field textarea {
	border: none;
	width: 100%;
	border-bottom: 1px solid #ececed;
	outline: none;
	font-size: 16px;
	color: #0b131a;
	font-family: 'Lato', sans-serif;
}
.contact-contents .field input::placeholder,
.contact-contents .field textarea::placeholder {
	color: rgba(11, 19, 26, 0.5);
}

.contact-contents .map {
	height: 700px;
	background: #ebebeb;
}
#map-content {
	padding: 37px 25px 37px;
	text-align: center;
}
#map-content h2 {
	font-size: 27px;
	font-weight: 900;
	color: #0b131a;
	text-transform: uppercase;
	margin-bottom: 27px;
	padding-top: 30px;
}
#map-content p {
	line-height: 32px;
}
.contact_arrow_up {
	display: none;
}

@media screen and (max-width: 480px) {
	body {
		font-size: 3vw;
		line-height: 21px;
	}
	a {
		font-size: 3vw;
	}

	.slogan h2 {
		font-size: 36px;
		line-height: 38px;
	}

	.header .main-menu {
		width: 100%;
		top: 90%;
	}
	.header nav ul li {
		margin-left: 35px;
	}
	.header .main-menu a {
		font-size: 3vw;
	}
	.main-slides .swiper-wrapper .container {
		padding: 0;
	}
	.big {
		padding: 0 11px;
		line-height: 45px;
		border-radius: 30px;
		font-size: 13px;
	}
	.swiper-button-prev {
		margin-left: -160px;
	}
	.swiper-button-next {
		margin-left: 160px;
	}
	.swiper-button-prev,
	.swiper-button-next {
		width: 65px;
	}
	.sm-arrow-right {
		margin-left: 5px;
	}
	.fixed-nav {
		margin-left: 190px;
	}

	/* -------story */
	.story .contents h2 {
		font-size: 36px;
		line-height: 38px;
	}
	.title_bar {
		padding-top: 30px;
	}
	/* forest */
	.section_tt {
		font-size: 36px;
		line-height: 38px;
	}

	.footer .container {
		width: 100%;
	}
	.footer_menu {
		flex-wrap: wrap;
	}
	.footer_menu li {
		margin-right: 10px;
	}
	.back_to_top {
		margin-left: 150px;
	}

	/* ---------about */
	.subpage-banner h2 {
		font-size: 36px;
		line-height: 38px;
	}
	.subpage-banner p {
		font-size: 3vw;
	}
	.our-story > div {
		width: 100%;
		height: 500px;
	}
	.story-img {
		order: 1;
	}
	.story-contents {
		order: 2;
	}
	.do-img {
		order: 3;
		opacity: 1;
	}
	.do-contents {
		order: 4;
		opacity: 1;
	}
	.our-story .contents h2,
	.do-contents .contents h2 {
		font-size: 36px;
	}
	.people-says .container .contents {
		width: 100%;
	}
	.testimonial-slides .container {
		padding: 100px 50px;
		width: 62%;
	}
	.testimonial-slides .contents h2 {
		font-size: 36px;
		line-height: 38px;
	}
	.help .contents {
		padding: 100px 50px;
		width: 62%;
	}
	.help .contents h2 {
		font-size: 36px;
		line-height: 38px;
	}

	/* ---------portfolio */

	.highlight {
		left: 40px;
	}
	.filters button {
		margin: 0 10px;
	}
	.portfolio_list li {
		width: 100%;
		height: 500px;
	}

	.single-info .desc {
		width: 42%;
		margin-right: 20px;
		padding: 0 8px;
	}
	.substate {
		width: 48%;
		padding: 63px 0 74px 30px;
	}
	.single-info.container {
		width: 100%;
	}

	.single-info h2 {
		font-size: 36px;
		line-height: 38px;
	}
	.substate dl {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.substate dl dt {
		margin-bottom: 8px;
	}
	.page_nav {
		width: 120px;
		margin-top: 10px;
	}
	.single-photos ul {
		flex-direction: column;
	}
	.single-photos ul li {
		margin-bottom: 20px;
	}
	.single-photos ul li.double {
		width: 100%;
	}
	.single-photos ul li {
		width: 100%;
	}

	/* contact */
	.contact-contents {
		flex-direction: column;
	}
	.contact-contents > div {
		flex: none;
	}
	.contact-contents .form {
		padding-right: 0;
	}
	.contact-contents .form form {
		width: 100%;
		margin-bottom: 20px;
	}
	.form form .submit .big {
		padding: 0 22px;
	}
}
